.header {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 0 10%;
    background-color: rgba(0, 0, 0,.5);
}

header > h1 {
    display: inline-block;
    color: white;
}

.nav {
    padding-top: 30px;
}

.header__nav a{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 0 25px 0 0;
    padding-bottom: 5px;
}

.links {
    text-decoration: none;
    color: white;
}

.underlineEffect {
    position: relative;
}

.underlineEffect::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #18d26e;
    visibility: hidden;
    transition: all 0.3s ease-in;
    transform: scaleX(0);
}

.underlineEffect:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
